* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 3;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
}

.logo-container {
  height: 80px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.logo-container .logo-image {
  height: 72px;
  width: 91px;
}

.navigation-container {
  margin-right: 20px;
}

.navigation-list {
  height: 80px;
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
}

.navigation-list li {
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}

.navigation-list li a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.mobile-logo-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100px;
  margin-right: 10px;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
}

.menu-mobile-logo {
  height: 33px;
  width: 33px;
  display: none;
}

.mobile-menu {
  width: 200px;
  display: flex;
  position: absolute;
  top: 80px;
  padding: 24px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: flex-end;
}

.mobile-menu a {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  line-height: 60px;
}
.mobile-menu ul {
  height: 100%;
  margin-top: 0;
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
  text-align: end;
}

.inactive {
  display: none;
}

main {
  padding-bottom: 10px;
  background-color: #161616;
}

.introduction-container {
  padding-top: 80px;
  position: relative;
  background-image: url('../img/fondo-principal-inicio.png');
  background-size: cover;
  background-position: center top;
}

.introduction-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.introduction-content h1 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

.introduction-content p {
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
}

.general-button {
  width: 210px;
  height: 50px;
  margin: 50px;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.about-container {
  padding: 30px 0 0;
}

.about-container h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #e1e1e1;
  text-align: center;
}

.about-container .information-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0;
}

.information-general p {
  padding: 10px 20px 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
}

.information-general a {
  margin: 0 auto;
}

.information-general h3 {
  padding: 0 20px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #e1e1e1;
  text-align: center;
}

.about-container .information-vision-values {
  display: flex;
}

.about-container .information-vision {
  width: 50%;
  margin-bottom: 30px;
}

.information-vision h3 {
  padding: 0 20px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #e1e1e1;
  text-align: center;
}

.information-vision p {
  padding: 10px 20px 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
}

.about-container .information-values {
  width: 50%;
  margin-bottom: 30px;
}

.information-values h3 {
  padding: 0 20px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #e1e1e1;
  text-align: center;
}

.information-values ul li {
  width: 90%;
  padding: 10px 20px;
  margin: 10px auto;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  list-style: none;
  border: 2px solid #555;
  text-align: center;
}

.services-container {
  padding: 30px 0;
}

.services-container h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #e1e1e1;
  text-align: center;
}

.services-container p {
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
}

.services-container .services-information-container {
  display: flex;
  padding: 30px 0 0 0;
  justify-content: space-evenly;
}

.services-information-container .service-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 32%;
}

.service-information .service-image-container {
  width: 80%;
}

.service-image-container img {
  width: 100%;
}

.service-information div {
  display: flex;
  flex-direction: column;
}

.service-information div h3 {
  padding: 0 8px;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #e1e1e1;
  text-align: center;
}

.service-information div p {
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
}

.service-information div button {
  margin: 0;
}

.service-information div a {
  margin: 0 auto;
}

.obligatory-courses-container {
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obligatory-courses-container h3 {
  padding: 0 20px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #e1e1e1;
  text-align: center;
}

.obligatory-courses-container p {
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
}

.obligatory-courses-container button {
  margin: 0;
}

footer {
  background-color: #000000;
}

.footer-container {
  width: 92%;
  margin: 0 auto;
  display: flex;
}

.footer-contact {
  width: 50%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact h3 {
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.footer-contact ul li {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #999999;
  list-style: none;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
}

.footer-links {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links h3 {
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.footer-links ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links ul li {
  width: 120px;
  margin: 0 0 16px 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #999999;
  list-style: none;
}

.link-social-media {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #999999;
}

.logo-image {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

@media (min-width: 1280px) {
  .footer-links ul li {
    width: 140px;
  }

  .general-button {
    width: 252px;
    height: 60px;
  }

  .information-values ul {
    display: flex;
    flex-wrap: wrap;
  }

  .information-values ul li {
    width: 42%;
    margin-top: 30px;
  }

  .introduction-content h1 {
    font-size: 96px;
  }

  .about-container h2,
  .services-container h2 {
    font-size: 58px;
  }

  .navigation-list li a,
  .mobile-menu a,
  .information-general p,
  .information-vision p,
  .information-values ul li,
  .services-container p,
  .service-information div p,
  .obligatory-courses-container p,
  .footer-contact h3,
  .footer-links h3 {
    font-size: 24px;
  }

  .introduction-content p,
  .general-button,
  .information-general h3,
  .information-vision h3,
  .information-values h3,
  .service-information div h3,
  .obligatory-courses-container h3 {
    font-size: 34px;
  }

  .footer-contact ul li,
  .footer-links ul li {
    font-size: 20px;
  }

}

@media (min-width: 1920px) {
  .footer-links ul li {
    width: 150px;
  }

  .introduction-content p {
    margin-top: 60px;
  }

  .general-button {
    width: 294px;
    height: 70px;
  }

  .introduction-content h1 {
    font-size: 112px;
  }

  .about-container h2,
  .services-container h2 {
    font-size: 68px;
  }

  .navigation-list li a,
  .mobile-menu a,
  .information-general p,
  .information-vision p,
  .information-values ul li,
  .services-container p,
  .service-information div p,
  .obligatory-courses-container p,
  .footer-contact h3,
  .footer-links h3 {
    font-size: 28px;
  }

  .introduction-content p,
  .general-button,
  .information-general h3,
  .information-vision h3,
  .information-values h3,
  .service-information div h3,
  .obligatory-courses-container h3 {
    font-size: 40px;
  }

  .footer-contact ul li,
  .footer-links ul li {
    font-size: 22px;
  }
}

@media (min-width: 2560px) {
  .footer-links ul li {
    width: 180px;
  }

  .introduction-content p {
    margin-top: 90px;
  }

  .general-button {
    width: 336px;
    height: 80px;
  }

  .introduction-content h1 {
    font-size: 128px;
  }

  .about-container h2,
  .services-container h2 {
    font-size: 76px;
  }

  .navigation-list li a,
  .mobile-menu a,
  .information-general p,
  .information-vision p,
  .information-values ul li,
  .services-container p,
  .service-information div p,
  .obligatory-courses-container p,
  .footer-contact h3,
  .footer-links h3 {
    font-size: 32px;
  }

  .introduction-content p,
  .general-button,
  .information-general h3,
  .information-vision h3,
  .information-values h3,
  .service-information div h3,
  .obligatory-courses-container h3 {
    font-size: 44px;
  }

  .footer-contact ul li,
  .footer-links ul li {
    font-size: 26px;
  }
}

